/* regole basi -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}   

/* Inizio background row ---------------------------------- */
#row {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
    .container {
        display: inline-block;
    }
    .container:not(#row > div:first-child) {
        margin-left: 20px;
    }
        .container .foto {
            width: 300px;
            height: 400px;
            background-size: cover;
            position: relative;
        }
            .wishlist {
                background-color: white;
                padding: 3px 7px;
                position: absolute;
                right: 0;
                top: 15px;
            }
            .foto > div:first-child {
                width: 100%;
                position: absolute;
                bottom: 15px;
                font-size: 12px;
            }  
                .sconto {
                    float: left;
                    background-color: red;
                    color: white;
                    padding: 3px 5px;
                }
                .caratteristica {
                    float: left;
                    background-color: rgb(47, 161, 98);
                    color: white;
                    margin-left: 5px;
                    padding: 3px 5px;
                }
            #rb-prima {
                background-image: url(../img/1.webp);
                background-position-y: 100%;
            }
            #rb-seconda {
                background-image: url(../img/2.webp);
                background-position-y: 45%;
            }
            #rb-terza {
                background-image: url(../img/3.webp);
                background-position-y: 100%;
            }
            #rf-prima {
                background-image: url(../img/4.webp);
                background-position: 50% 90%;
            }
            #rf-seconda {
                background-image: url(../img/5.webp);
                background-position: 50% 30%;
            }
            #rf-terza {
                background-image: url(../img/6.webp);
                background-position: 50% 100%;
            }
            
            /* Inizio over -------------------------------- */
            #rb-prima:hover {
                background: url(../img/1b.webp);
                background-size: cover;
            }
            #rb-seconda:hover {
                background: url(../img/2b.webp);
                background-size: cover;
                background-position-y: 45%;
            }
            #rb-terza:hover {
                background: url(../img/3b.webp);
                background-size: cover;
                background-position-y: 100%;
            }
            #rf-prima:hover {
                background: url(../img/4b.webp);
                background-size: cover;
            }
            #rf-seconda:hover {
                background: url(../img/5b.webp);
                background-size: cover;
                background-position-y: 70%;
            }
            #rf-terza:hover {
                background: url(../img/6b.webp);
                background-size: cover;
            }

        /* Inizio dettagli prodotto ----------------------- */
        .dettagli {
            width: 100%;
            background-color: white;
            position: relative;
            text-align: initial;
            
        }
            .dettagli > span:not(:first-child) {
                display: block;
            }
            .marca {
                font-size: 12px;
            }
            .nome {
                text-transform: uppercase;
            }
            .prezzo, .prezzo-originale {
                float: left;
                font-size: 12px;
            }
                .prezzo {
                    color: red;
                }
                .prezzo-originale {
                    margin-left: 5px;
                    text-decoration: line-through;
                }